body {
    background-color: #49a67f;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    display: flex;
    background-color: #272f28;
    justify-content: center;
    margin: -8px;
    margin-bottom: 5px;
}


nav {
    background-color: #ade9d0;
    padding: 15px;
    font-size: large;
    border-radius: 10px;
}

a {
    text-decoration: none;
    padding-right: 10px;
    border-color: #000000;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

form, section {
    background-color: #86d4b4;
    text-align: left;
    border-radius: 30px;
    padding: 10px;
    margin-top: 5px;
    font-size: larger;
}

form {
    position: relative;
    padding: 30px;
    font-size: x-large;
}

section {
    text-align: center;
    position: relative;
    width: 100%;
    left: 30%;
}

#h1 {
    text-align: center;
    color: rgb(18, 80, 80);
}

input, select {
    font-size: medium;
}

label {
    font-weight: bold;
}
section > label{
    position: absolute;
    top: -20px;
}

.btn {
    display: inline-block;
    justify-content: center;
    font-size: x-large;
    border-radius: 5px;
    letter-spacing: 2px;
}

img {
    width: 230px;
}